<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.example.demo.mapper.DemoMapper">
    <select id="getOnlineControl" resultType="com.example.demo.domain.OnlineControlDto">
    	select * from t_online_control
    </select>

    <insert id="addOnlineControl" parameterType="com.example.demo.domain.OnlineControlDto">
        insert into t_online_control (email, summonerName, timeInterval)
        values (#{email,jdbcType=VARCHAR}, #{summonerName,jdbcType=VARCHAR},
        #{timeInterval,jdbcType=VARCHAR})
    </insert>

    <select id="getMatchInfo" resultType="com.example.demo.model.MatchInfo">
        select * from match_info where match_id=1
    </select>
</mapper>